html {
  background-color: #e0efde;
}

.topbar {
  position: sticky;
  top: 0;
  background-color: #e0efde;
}

.stage {
  font-family: monospace;
  padding: 4px;
  border-radius: 8px;
}

.kanban {
  display: grid;
  grid-template-columns: repeat(6, 16%);
  gap: 5px;
}

.rfc {
  border-radius: 8px;
  background-color: white;
  padding: 8px;
}

.closed {
  background-color: #6a707a;
  color: white;
}

.proposed {
  background-color: #dffdff;
}

.accepted {
  background-color: #c7f9de;
}

.release {
  background-color: #fffad6;
}

.released {
  background-color: #d5cbff;
}

.recommended {
  background-color: #8be998;
}

.github-pic {
  height: 60px;
  width: 60px;
}
